<div class="navbar" *ngIf="IsLoggin">
  <div class="nav-left">
    <span class="brand">Car Rental System</span>
  </div>

  <div class="nav-links">

    <!-- CUSTOMER -->
    <a *ngIf="roleName === 'CUSTOMER'" routerLink="/cars">Cars</a>

    <!-- AGENT -->
    <a *ngIf="roleName === 'AGENT'" routerLink="/add-car">Add Car</a>
    <a *ngIf="roleName === 'AGENT'" routerLink="/bookings">Bookings</a>

    <!-- ADMIN -->
    <a *ngIf="roleName === 'ADMIN'" routerLink="/categories">Categories</a>
    <a *ngIf="roleName === 'ADMIN'" routerLink="/booking-report">Booking Report</a>
    <a *ngIf="roleName === 'ADMIN'" routerLink="/payment-report">Payment Report</a>

    <!-- COMMON FOR ALL -->
    <a routerLink="/dashboard">Dashboard</a>
  </div>

  <div class="nav-right">
    <span class="role">({{ roleName }})</span>
    <button (click)="logout()">Logout</button>
  </div>
</div>

<!-- Main Page Content -->
<router-outlet></router-outlet>